;database config
db.adapter = "Pdo_Mysql"
db.name = ""
db.user = ""
db.password = ""
db.host = ""

response.provider = "JsonProvider"

router.api_demo.route = "demo/index"
router.api_demo.APIObjectName = "demo"
router.api_demo.APIFunctionName = "index"
router.api_demo.method = "GET"