[production]
db.adapter = "Pdo_Mysql"
db.name = "hangman"
db.user = "root"
db.password = "123456"
db.host = "localhost"

response.provider = "JsonProvider"

service.key = '123456'
service.wordsFile = APP_PATH "/Words/words.english.txt"

;-----routes---------------
router.api_demo.route = "demo/index"
router.api_demo.APIObjectName = "demo"
router.api_demo.APIFunctionName = "index"
router.api_demo.method = "GET"

router.service_load.route = "service/loadWords/:key"
router.service_load.APIObjectName = "service"
router.service_load.APIFunctionName = "load"
router.service_load.method = "GET"

router.games_get.route = "games/:id"
router.games_get.APIObjectName = "games"
router.games_get.APIFunctionName = "manage"
router.games_get.method = "GET"

router.games_post.route = "games/:id"
router.games_post.APIObjectName = "games"
router.games_post.APIFunctionName = "manage"
router.games_post.method = "POST"
;-----end routes---------------

[development: production]
db.adapter = "Pdo_Mysql"
db.name = ""
db.user = ""
db.password = ""
db.host = ""

[testing: production]
db.adapter = ""
db.name = ""
db.user = ""
db.password = ""
db.host = ""